# Python Basic
8. ADT
   - List
   - Tupple
   - Set
   - Dictionay
10. Function and List
11. file read write
12. python Library - random, numpy, math, pandas,matplotlib
13. OOP - stack and queue implementation using list

In [4]:
print("Welcome to AI Lab 2")

Welcome to AI Lab 2

In [14]:
# List -ADT - mutable - changeable
list=[10,20,10,30,40,"A",3.5]
print(type(list))
print(list)
list.append(100)
print(list)

<class 'list'>
[10, 20, 10, 30, 40, 'A', 3.5]
[10, 20, 10, 30, 40, 'A', 3.5, 100]

In [16]:
list=[10,20]
print(len(list))

2

In [20]:
list.append(100)
print(list)
list.clear()
print(list)

[10, 20, 100, 100]
[]

In [30]:
l1=[10,20,30]
l1[2]=100
print(l1)
a=l1.pop()
print(l1)

[10, 20, 100]
[10, 20]

In [32]:
stack=[]
stack.append(10)
stack.append(20)
stack.append(100)
print(stack)

[10, 20, 100]

In [34]:
stack.pop()
print(stack)

[10, 20]

In [46]:
list1=['a','c','d','a']
a=list1.count('a')
print(a)
list1.reverse()
print(list1)

2
['a', 'd', 'c', 'a']

In [38]:
list1.sort()
print(list1)

['a', 'c', 'd']

In [52]:
# Tuple - unchangeable immutable
t=(10,10,30,30,40)
print(t.count(10))
print(t.index(30))
print(len(t))

2
2
5

In [66]:
# set
s={10,20,30}
print(s)
s.add(100)
s.add(200)
print(s)

{10, 20, 30}
{100, 200, 10, 20, 30}

In [70]:
# Dictionar
d={
    1:"Richard",
    2:"Philip"
}
print(d)
d[3]="Jonathan"
print(d)

{1: 'Richard', 2: 'Philip'}
{1: 'Richard', 2: 'Philip', 3: 'Jonathan'}

In [76]:
List=[100,200,300]
print(100 in List)

True

In [78]:
t=(10,20,30,40)
print(10 in t)

True

In [80]:
s={20,10,20,40}
print(20 in s)

True

In [84]:
#Iteration in List,Tuple, Set, Dictionary
list=[10,20,30,40,50]
for i in range(len(list)):
    print(list[i],end=" ")

10 20 30 40 50

In [88]:
list=[10,10,20,30,304]
for i in list:
    print(i,end=" ")

10 10 20 30 304

In [104]:
d={
    "id-1":"A",
    "Id-2":"B"
}
d["id-1"]='K'
print(len(d))
'''
for k,v in d.items():
    print(k+" "+v)
'''
for k in d.keys():
    print(k,d[k])

2
id-1 K
Id-2 B

In [116]:
q=[]
q.append(10)
q.append(20)
q.append(30)
print(q)
q.pop(0)
print(q)

[10, 20, 30]
[20, 30]

# Function

In [119]:
def f(x):
    return 2*x

print(f(10))

20

In [127]:
def add(a=1,b=2):
    return a+b

print(add())

3

In [133]:
def func(a=1,b=2):
    return a+b,a*b

a,m=func(10)
print(a,m)

12 20

In [141]:
def makeDouble(li):
    dList=[]
    for i in range(len(li)):
        dList.append(li[i]*2)
    return dList

list=[10,20,30,40]
dList=makeDouble(list)
print(list)
print(dList)

[10, 20, 30, 40]
[20, 40, 60, 80]

In [159]:
def slope(p):
    x1=p[0][0]
    y1=p[0][1]
    x2=p[1][0]
    y2=p[1][1]
    return (y1-y2)/(x1-x2)

points=[(3,1),(5,6)]
slope(points)

2.5

In [167]:
import math
print(math.sqrt(9))
print(abs(1-2))

p1=(10,20)
p2=(30,25)

3.0
1

# Distance calculation from point
 - Euclidian distance 
 - Manhattan distance