In [1]:
print("Welcome to AI Lab")

Welcome to AI Lab

# Python Programming Language
1. Data types and variables
   > int
   
   > float
   
   > bool
   
   > string
   
   > ADT : List, Tupple, Dictionay, Set
    
   
3. operator and expression
   > Arithematic Operator: +,-,*,/,//,**,%
   
   > Relational Opeartor : >, >=,<,<=,==,!=
   
   > Logical Operator: & (and), | (or)
5. conditional statement
    > if
    >
    > if else
    >
    > if elif ..... else
7. Iteration
   > for
   >
   > range
   >
   > while
   >
   > break
   >
   > continue
9. Function and List
10. python Library
11. OOP

In [13]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [17]:
c=True
print(c)
print(type(c))

True
<class 'bool'>

In [15]:
b=3.9
print(b)
print(type(b))

3.9
<class 'float'>

In [20]:
s1="I love AI"
print(s1)
print(type(s1))

I love AI
<class 'str'>

In [26]:
print(s1[3])
print(s1[2:6]) # index slicing

o
love

In [24]:
print(len(s1))

9

In [30]:
s1="I love Python\n"
s2="I love Bangladesh"
print(s1+s2)

I love Python
I love Bangladesh

In [40]:
'''
Line 1
Line 2
'''
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b) # floating point division
print(a//b) # integer division
print(a**2)
print(a%b)

30
-10
200
0.5
0
100
10

In [43]:
a=10
b=20
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)
print(a==b)
print(a!=b)

False
False
True
True
False
True

In [50]:
a=10
b=20
c=2
print((a>b) and (a>c))
print((a>b) or (a>c))

False
True

In [55]:
a=20
if a>10:
    print("a is gerater than 10")
    print("I love python")
print("I love Bangladesh")

a is gerater than 10
I love python
I love Bangladesh

In [57]:
age=20
if age>=18:
    print("I am adult")
else:
    print("I am not adult")

I am adult

In [59]:
marks =90
if marks>=90:
    print("A+")
elif marks>=85 and marks<90:
    print("A")
else:
    print("F")

A+

In [65]:
number1=input("Enter number 1: ")
number2=input("Enter Number 2: ")
print(int(number1)+int(number2)) # type casting

Enter number 1:  10
Enter Number 2:  20

30

In [71]:
a=input("Enter CGPA:")
print(float(a))

Enter CGPA: 3.8

3.8

In [80]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [84]:
for i in range(2,10):
    print(i,end=" ")

2 3 4 5 6 7 8 9

In [92]:
for i in range(10,100,2):
    print(i,end=" ")

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [98]:
s1="I love python and I love AI"
n=len(s1)
for i in range(0,n,3):
    print(s1[i])

I
o

t
n
n
I
o

In [100]:
i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [108]:
for i in range(1,11):
    if i==6:
        break
    print(i, end="->")

1->2->3->4->5->

In [114]:
for i in range(1,11):
    if i==6 or i==9:
        continue
    print(i, end="->")

1->2->3->4->5->7->8->10->