In [1]:
# loop
# while loop

count = 1;

while count <= 5:
    print("Count is:", count)
    count += 1

Count is: 1
Count is: 2
Count is: 3
Count is: 4
Count is: 5

In [ ]:
# practcice
list = [1,2,3,4,6,78,89,90];
for x in list:
    print(x)

In [ ]:
# 1 to 100 print

i = 1;
while i<= 100:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [8]:
# 100 to 1 print

i = 100;
while i>= 1:
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [9]:
# print the multiplication table of a given number
num = int(input("Enter a number to print its multiplication table: "))
i = 1
while i <= 10:
    print(f"{num} x {i} = {num * i}")
    i += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [10]:
list = [1,4, 9,16,25,36,49,64,81,100]

i = 0;
while i < len(list):
    print(list[i])
    i+=1

1
4
9
16
25
36
49
64
81
100

In [15]:
# search for a number X in the list

list = [1,4, 9,16,25,36,49,64,81,100]
X = int(input("Enter a number to search in the list: "))

i = 0;
while i < len(list):
    if list[i] == X:
        print(f"Number {X} found in the list.")
        break
       
    else:
        print(f"Number {X} not found at index {i}.")
    i+=1

Number 67 not found at index 0.
Number 67 not found at index 1.
Number 67 not found at index 2.
Number 67 not found at index 3.
Number 67 not found at index 4.
Number 67 not found at index 5.
Number 67 not found at index 6.
Number 67 not found at index 7.
Number 67 not found at index 8.
Number 67 not found at index 9.

In [16]:
# break:
i = 1
while i <= 10:
    if i == 6:
        break
    print(i)
    i += 1

1
2
3
4
5

In [17]:
# continue:
i = 0
while i < 10:
    i += 1
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [18]:
# for loop

list = [1,4, 9,16,25,36,49,64,81,100]

for x in list:
    print(x)

1
4
9
16
25
36
49
64
81
100

In [19]:
students = ["Alice", "Bob", "Charlie", "David"]

for student in students:
    print (student)

Alice
Bob
Charlie
David

In [20]:
tup= (10,20,30,40,50)
for c in tup:
    print(c)

10
20
30
40
50

In [23]:
str = "umme habiba islam rupa"
for char in str:
    if(char == "a"):
        print("a found")
    print(char)
else:
    print("Loop is ended")

u
m
m
e

h
a found
a
b
i
b
a found
a

i
s
l
a found
a
m

r
u
p
a found
a
Loop is ended

In [24]:
nums = [11,23,45,67,88,98,55,34,22,10]
for x in nums:
    if x % 2 == 0:
        print(f"{x} is even")
    else:
        print(f"{x} is odd")

11 is odd
23 is odd
45 is odd
67 is odd
88 is even
98 is even
55 is odd
34 is even
22 is even
10 is even

In [28]:
nums = [1, 2, 3, 4, 5]
x = int(input("enter a number to search:"))
for num in nums:
    if num ==x: 
        print (f"{x} is found in the list")
        break
    else:
        print(f"{x} is not found in the list ");

5 is not found in the list
5 is not found in the list
5 is not found in the list
5 is not found in the list
5 is found in the list

In [ ]:
# range function
# range
# (start, stop(last), step(increment))

for i in range (1, 11,2):
    print(i)

1
3
5
7
9

In [31]:
for i in range (2, 100, 2):
    print (i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98