In [ ]:
print ("hello world")

hello world

In [3]:
print ("nizam uddin shuvo ", "my age is 23")

print (23+234)

nizam uddin shuvo  my age is 23
257

In [ ]:
# varibale 

name = "nizam Uddin shuvo";
age = 23;
price = 23.556;



name = "umme habiba islam rupa"
print (name)

print("my name is ", name ," and my age is ",age)

umme habiba islam rupa
my name is  umme habiba islam rupa my age is  23

In [11]:

name = "nizam Uddin shuvo";
age = 23;
old = False;
a = None;

price = 23.556;

print (type(name))

print (type (age))

print (type (price))

print (type (old))
print (type (a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [12]:
# sum of two number

a = 2;
b = 3;
print ("the sum of a and b is ", a+b)

the sum of a and b is  5

In [13]:
# types og operators

# arithmetic operators

a = 32;
b = 8;

sum = a +b;
print ("the sum of a and b is ", sum)

diff = a - b;
print ("the difference of a and b is ", diff)

prod = a * b;
print ("the product of a and b is ", prod)

div = a / b;
print ("the division of a and b is ", div)

floor = a // b;
print ("the floor division of a and b is ", floor)

mod = a % b;
print ("the modulus of a and b is ", mod)

exp = a ** b;
print ("the exponent of a and b is ", exp)

the sum of a and b is  40
the difference of a and b is  24
the product of a and b is  256
the division of a and b is  4.0
the floor division of a and b is  4
the modulus of a and b is  0
the exponent of a and b is  1099511627776

In [14]:
# reational operator 

a = 50;
b = 20;

print ("a is greater than b: ", a > b)
print ("a is less than b: ", a < b)
print ("a is equal to b: ", a == b)
print ("a is not equal to b: ", a != b)
print ("a is greater than or equal to b: ", a >= b)
print ("a is less than or equal to b: ", a <= b)

a is greater than b:  True
a is less than b:  False
a is equal to b:  False
a is not equal to b:  True
a is greater than or equal to b:  True
a is less than or equal to b:  False

In [ ]:
# assignment operators
a = 10
b = 5

a += b  # a = a + b
print("After a += b, a =", a)
a -= b  # a = a - b
print("After a -= b, a =", a)
a *= b  # a = a * b
print("After a *= b, a =", a)
a /= b  # a = a / b   
print("After a /= b, a =", a)
a %= b  # a = a % b
print("After a %= b, a =", a)
a **= b  # a = a ** b
print("After a **= b, a =", a)
a //= b  # a = a // b
print("After a //= b, a =", a)

In [15]:
# logical operators 

a = 50;

b = 30;

print ("a > 40 and b < 40: ", a > 40 and b < 40)
print ("a > 60 or b < 40: ", a > 60 or b < 40)
print ("not (a > 40): ", not (a > 40))

a > 40 and b < 40:  True
a > 60 or b < 40:  True
not (a > 40):  False

In [17]:
# type conversion

a = "2334"

print (type (a))
a = int (a)
print (type (a))

<class 'str'>
<class 'int'>

In [22]:
# input in python;

name = input ("enter your name: ")
print (name)
age = int (input ("enter your age : "))
print (age)
print (type (age))

nizam uddin shuvo
23
<class 'int'>

In [23]:
name = input ("enter your name : ")
age = int (input ("enter your age : "))
marks = float (input ("enter your ai exam marks : "))

print ("your name is ", name)
print ("your age is ", age )
print ("your ai exam marks is ", marks)

your name is  shuvo
your age is  34
your ai exam marks is  76.0

In [24]:
n1 = int (input("please enter your first number: "))
n2 = int (input("please enter your second number: "))

print ("the sum of n1 and n2 is ", n1 + n2 )

the sum of n1 and n2 is  68

In [25]:
height = float (input("please enter a height for the square :"))

area = height * height

print ("the area of the square is ", area)

the area of the square is  1156.0

In [26]:
n1 = float (input ("please enter your first number: "))
n2 = float (input ("please enter your second number:"))

average = (n1+ n2 )/2;

print ( "the average of n1 and n2 is ", average )

the average of n1 and n2 is  34.0

In [27]:
n1 = int (input ("enter your first number :"))
n2 = int (input ("enter your second number : "))

print ("n1 is greater than n2 or equal to n2", n1>n2 or n1==n2)

n1 is greater than n2 or equal to n2 False